[Unit]
Description=Consul Service
#After=network.target
After=consul_bind.service
Requires=consul_bind.service

[Service]
Type=simple
EnvironmentFile=/etc/consul.env
User=consul
WorkingDirectory=/home/consul
ExecStart=/usr/local/bin/consul agent -bind=${BIND} -config-dir=/etc/consul.d -server -data-dir=/var/consul/data
Restart=on-abort

[Install]
WantedBy=multi-user.target
