[Unit]
Description=Nomad Service
After=consul.service
Requires=consul.service

[Service]
Type=simple
EnvironmentFile=/etc/bind_info.env
User=nomad
WorkingDirectory=/var/nomad/data
ExecStart=/usr/local/bin/nomad agent -config=/etc/nomad.d -data-dir=/var/nomad/data
Restart=on-abort

[Install]
WantedBy=multi-user.target
